.wrapper.card {
  max-width: 175px;
  min-width: 140px;
  margin: 15px 0 0 10px;
  border-radius: 3px;
  background: var(--color-component);
}
.card .flex-card {
  display: flex;
  padding: 15px;
  align-items: flex-start;
  justify-content: space-between;
}
.card .flex-card::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 50px;
  border-radius: 2px;
  background: var(--color-style);
}
.card .flex-card h1 {
  color: #BABABA;
  margin: 0 15px;
  font-size: 12px;
  text-transform: capitalize;
}
.card .flex-card p {
  margin: 5px 15px 0;
  font-size: 20px;
  font-weight: bold;
}
.card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 25px;
  border-radius: 3px;
  background: var(--color-style-opacity);
}
.card .flex-card svg {
  color: var(--color-style);
  font-size: 17px;
}
