.container.sidebar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 180px;
  padding: 15px; 
  background: var(--color-default);
  transition: all 1s ease;
  transform: translateX(-500px);
}
.container.sidebar.active {
  transform: translateX(0);
}
.wrapper.sidebar-header {
  display: flex;
  gap: 0 15px;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-component);
}
.sidebar-header svg {
  color: var(--color-shoope);
  font-size: 20px;
}
.sidebar-header h1 {
  color: var(--color-component);
  font-size: 20px;
  text-transform: uppercase;
}

.wrapper.sidebar-menu {
  margin: 25px 0;
}
.sidebar-menu h1 {
  color: var(--color-component);
  font-size: 13px;
  text-transform: uppercase;
}
.sidebar-menu ul {
  margin: 10px 0;
}
.sidebar-menu ul li {
  display: flex;
  gap: 0 10px;
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}
.sidebar-menu ul li:hover svg,
.sidebar-menu ul li:hover p {
  color: var(--color-shoope) !important;
}
.sidebar-menu ul li svg {
  color: #BABABA;
  font-size: 20px;
  transition: all .3s ease;
}
.sidebar-menu ul li p {
  color: #BABABA;
  font-size: 15px;
  text-transform: capitalize;
  transition: all .3s ease;
}
