.container.sidebar {
  z-index: 9991;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 180px;
  padding: 15px; 
  background: var(--color-default);
  transition: all 1s ease;
}
.container.sidebar.active {
  transform: translateX(0);
}
.wrapper.sidebar-header {
  display: flex;
  gap: 0 8px;
  padding: 0 0 15px 0; 
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-component);
}
.sidebar-header svg {
  color: var(--color-shoope);
  font-size: 20px;
}
.sidebar-header h1 {
  color: var(--color-component);
  font-size: 20px;
  text-transform: uppercase;
}

.wrapper.sidebar-menu {
  margin: 25px 0;
}
.sidebar-menu h1 {
  color: var(--color-component);
  font-size: 13px;
  text-transform: uppercase;
}
.sidebar-menu ul {
  margin: 10px 0;
}
.sidebar-menu ul li {
  display: flex;
  gap: 0 10px;
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}
.sidebar-menu .active li svg,
.sidebar-menu .active li p {
  color: var(--color-shoope) !important;
}
.sidebar-menu ul li:hover svg,
.sidebar-menu ul li:hover p {
  color: var(--color-shoope) !important;
}
.sidebar-menu ul li svg {
  color: #BABABA;
  font-size: 20px;
  transition: all .3s ease;
}
.sidebar-menu ul li p {
  color: #BABABA;
  font-size: 15px;
  text-transform: capitalize;
  transition: all .3s ease;
}
.sidebar-menu .icon-back {
  display: none;
  position: fixed;
  top: 50%;
  right: -15px;
  color: var(--color-component);
  width: 30px;
  height: 30px;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background: var(--color-shoope);
}
.sidebar-menu .menu-footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
}
